@page "/clock"
@layout MasterLayout
@using System.Threading
@using Blazor.net.Services
@inject IBinaryFormatterService BinaryFormatter

<p>
    @currentTime
</p>

<br/>

<p class="binary">
    @binaryHours.PadLeft(6, '0')
</p>
<p class="binary">
    @binaryMinutes.PadLeft(6, '0')
</p>
<p class="binary">
    @binarySeconds.PadLeft(6, '0')
</p>

@functions {
    string currentTime = "...";
    string binaryHours = "";
    string binaryMinutes = "";
    string binarySeconds = "";
    Timer timer;

    protected override async Task OnInitAsync()
    {
        timer = new Timer(state =>
        {
            var now = DateTime.Now;
            currentTime = now.ToLongTimeString();

            binaryHours = BinaryFormatter.ToBinary(now.Hour);
            binaryMinutes = BinaryFormatter.ToBinary(now.Minute);
            binarySeconds = BinaryFormatter.ToBinary(now.Second);

            this.StateHasChanged();
        }, null, 1000, 1000);
    }

}