@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

<header>
    <div>
        <em>Blazor first look</em>
        <nav>
            <NavLink href="/phonenumber">
                <span>Phone number</span>
            </NavLink>
            <NavLink href="/todo">
                <span>ToDo</span>
            </NavLink>
            <NavLink href="/clock">
                <span>Clock</span>
            </NavLink>
        </nav>
    </div>
</header>
<div id="body">
    @Body
</div>
<footer>

</footer>