@layout MasterLayout
@page "/todo/{todoId}"
@using Blazor.net.Models
@using Blazor.net.Services
@inject IToDoService Items

<div class="back_link">
    <NavLink href="/todo">Back</NavLink>
</div>

<div class="todo_details">
    <em>@TodoItem.Message</em>
    <p>@TodoItem.CreatedAt</p>
</div>

@functions
{

    [Parameter]
    protected string TodoId { get; set; }

    protected TodoItem TodoItem { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        TodoItem = Items.GetById(Guid.Parse(TodoId));
    }

}
